{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Сайт: {{ url.name }}</h1>
    <table class="table table-bordered" data-test="url">
        <tbody>
            <tr>
                <th scope="row">ID:</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th scope="row">Имя:</th>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <th scope="row">Дата создания:</th>
                <td>{{ url.created_at | date }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Проверки</h2>
    <div class="mb-3">
        <form method="POST" action="{{ url_for('create_check', id=url.id) }}">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
    </div>
    <table class="table table-striped" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check.id }}</td>
                <td>{{ check.status_code | default('', true) }}</td>
                <td>{{ check.h1 | default('', true) }}</td>
                <td>{{ check.title }}</td>
                <td>{{ check.description | default('', true) }}</td>
                <td>{{ check.created_at | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
