<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список URL-адресов</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Список URL-адресов</h1>
        <table class="table table-striped mt-3" data-test="urls">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Дата добавления</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                        <td>{{ url.id }}</td>
                        <td>{{ url.name }}</td>
                        <td>{{ url.created_at }}</td>
                        <td>
                            <a href="{{ url_for('url_details', id=url.id) }}" class="btn btn-info">Подробнее</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Добавить еще адрес</a>
    </div>
</body>
</html>
