{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Сайты</h1>
    <table class="table table-striped mt-3" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td><a href="{{ url_for('url_details', id=url.id) }}">{{ url.name }}</a></td>
                    <td>{{ url.last_checked | date | default('', true) }}</td>
                    <td>{{ url.last_status_code | default('', true) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
